<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reported Cases</title>
    <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/' + navigation2use) %>
  <div class="container p4">
    <div class="row">
        <div class="card-columns">
            <% for(var i = 0; i < 20; i++) { %>
                <div class="card animated fadeInDown">
                    <div class="card-body">
                        <h5 class="card-title" style="color: slateblue"><%= cases[i].Country %></h5>
                        <p class="card-text"><strong>Total Casos: </strong><%= cases[i].TotalCases %></p>
                        <p class="card-text"><strong>Nuevos Casos: </strong><%= cases[i].NewCases %></p>
                        <p class="card-text"><strong>Total Muertes: </strong><%= cases[i].TotalDeaths %></p>
                        <p class="card-text"><strong>Nuevas Muertes: </strong><%= cases[i].NewDeaths %></p>
                        <p class="card-text"><strong>Total Recuperado: </strong><%= cases[i].TotalRecovered %></p>
                        <p class="card-text"><strong>Casos Activos: </strong><%= cases[i].ActiveCases %></p>
                        <p class="card-text"><strong>Seriamente Criticos: </strong><%= cases[i].SeriousCritical %></p>
                  </div>
                </div>
            <% }; %>
        </div>
    </div>
</div>
</body>
</html>